button[mat-flat-button] {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background-color: #6bffa4;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background 0.3s ease;

  &:hover {
    background-color: #5dfa99;
  }
}

@media (max-width: 350px) {
    .form-content {
      margin: 0 auto;
      max-width: 200px;
      height: auto;

      .input-field {
        .full-width {
            width: 100%;
            margin: 0;
            .mat-label {
                font-size: 2px;
            }
        }
      }
    }
  }