

.dialog-card {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  padding: 25px;
  transition: all 0.3s ease;

  .post-header {
    margin-bottom: 20px;

    .post-header-avatar {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-color: #ccc;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }
  }

  .post-content {
    h3 {
      margin: 0;
      font-size: 77px;
      font-weight: bold;
      color: #333;
    }

    p {
      margin-bottom: 15px;
      line-height: 1.6;
      color: #444;
    }

    .comments-heading {
      max-height: 300px; /* Altura máxima para mostrar los primeros 5 comentarios */
  overflow-y: auto; /* Desplazamiento vertical */
      margin-top: 20px;
      margin-bottom: 10px;
      font-size: 18px;
      font-weight: bold;
    }

    .comments-container {
      .comment {
        margin-bottom: 20px;
        p {
          margin: 0;
          color: #666;
        }

        .comment-date {
          color: #999;
          font-size: 14px;
        }
      }
    }
  }

  .scrollable-comments {
    max-height: 200px; /* Altura máxima para los comentarios restantes */
    overflow-y: auto; /* Desplazamiento vertical */
  }

  .post-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .comment-form {
      margin-left: auto;
      input {
        width: 300px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 6px;
        margin-right: 10px;
      }
      .action-button {
        padding: 10px 20px;
        background-color: #5dfa99;
        color: #ffffff;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #6bffa4;
        }
      }
    }
    

    .action-button {
      padding: 10px 20px;
      background-color: #6bffa4;
      color: #ffffff;
      border: none;
      border-radius: 6px;
      margin-left: 10px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #5dfa99;
      }
    }
  }
}