.follow-button {
    background-color: #699dfa;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .follow-button:hover {
    background-color: #4e7fd4;
  }

  .post-image {
    max-width: 100%;
    border-radius: 8px;
    margin-top: 15px;
  }