<div *ngIf="!allImagesLoaded" class="loading-animation">
  <div class="spinner"></div>
</div>

<div class="profile-container">
  <div class="profile-header">
    <img [src]="profileImageUrl" alt="Foto de perfil" class="profile-image">
    <div class="profile-info">
      <h2>{{ user?.userName }}</h2>
      <p>{{ user?.description }}</p>
      <button class="follow-button" (click)="followUser()" *ngIf="!isFollowing">Seguir</button>
      <button class="follow-button" (click)="unfollowUser()" *ngIf="isFollowing">Siguiendo</button>
    </div>
  </div>

  <div class="profile-stats">
    <div class="stat-item">
      <button class="stat-button" (click)="showFollower()">
        <span class="stat-value">{{ userFollower?.length || 0 }}</span>
        <span class="stat-label">Seguidores</span>
      </button>
    </div>
    <div class="stat-item">
      <button class="stat-button" (click)="showFollowed()">
        <span class="stat-value">{{ userFollowed?.length || 0 }}</span>
        <span class="stat-label">Seguidos</span>
      </button>
    </div>
    <div class="stat-item stat-button">
      <span class="stat-value">{{ userPosts && userPosts.posts ? userPosts.posts.length : 0 }}</span>
      <span class="stat-label">Publicaciones</span>
    </div>
  </div>
  <div class="divider"></div>

  <div *ngIf="userPosts && userPosts.posts && userPosts.posts.length > 0; else noPosts">
    <div *ngFor="let post of pagedPosts; let last = last" class="post-card" [style.marginBottom.px]="last ? 100 : 20" #firstPost>
      <div class="post-header">
        <div>
          <img [src]="profileImageUrl" alt="Foto de perfil" class="post-header-avatar">
        </div>
        <div class="post-header-info">
          <h3>{{ post.userName }}</h3>
          <p>{{ post.description }}</p>
        </div>
      </div>
      <div class="post-content">
        <p>{{ post.text }}</p>
        <img *ngIf="postImages[post.id]" [src]="postImages[post.id]" alt="Imagen del post" class="post-image">
        <p>{{ formatDate(post.creationDate) }}</p>
      </div>
      <div class="post-actions">
        <button class="action-button" (click)="toggleLike(post)">
          <mat-icon>{{ post.userHasLiked ? 'thumb_up' : 'thumb_up_off_alt' }}</mat-icon>
          <span *ngIf="post.likes.length > 0"> ({{ post.likes.length }})</span>
        </button>
        <button class="action-button" (click)="openCommentsDialog(post)">
          <mat-icon>comment</mat-icon>
          <span *ngIf="post.comments.length > 0"> ({{ post.comments.length }})</span>
        </button>
      </div>
    </div>
    <div *ngIf="userPosts.posts.length > 10" class="pagination-controls">
      <button (click)="previousPage()" [disabled]="currentPage === 1">Anterior</button>
      <span>Página {{currentPage}}</span>
      <button (click)="nextPage()">Siguiente</button>
    </div>
  </div>

  <ng-template #noPosts>
    <div class="no-posts-container">
      <div class="no-posts-content">
        <img src="../../../assets/flags/sadRobot.png" alt="No hay publicaciones" class="no-posts-image">
        <h2>{{ user?.userName }} no tiene ninguna publicación disponible</h2>
        <p>¡Anima a {{ user?.userName }} a explorar, compartir y conectarse con el mundo!</p>
      </div>
    </div>
  </ng-template>
</div>