<div *ngIf="!allImagesLoaded" class="loading-animation">
  <div class="spinner"></div>
</div>

<div *ngIf="userPosts && userPosts.length > 0; else noPosts">
  <div class="welcome-section">
    <h1>Descubre las publicaciones de quienes sigues</h1>
    <p>Explora y disfruta del contenido creado por las personas que te interesan.</p>
  </div>

  
  <div *ngFor="let post of pagedPosts; let last = last" class="post-card" [style.marginBottom.px]="last ? 100 : 20" #firstPost>
    <div class="post-header">
      <div>
        <img [src]="profileImages[post.userName]" alt="Foto de perfil" class="post-header-avatar" (click)="navigateToOtherProfile(post.userName)">
      </div>
      <div class="post-header-info">
        <h3>{{ post.userName }}</h3>
        <p>{{ post.description }}</p>
      </div>
    </div>
    <div class="post-content">
      <p>{{ post.text }}</p>
      <img *ngIf="postImages[post.id]" [src]="postImages[post.id]" alt="Imagen del post" class="post-image">
      <p>{{ formatDate(post.creationDate) }}</p>
    </div>
    <div class="post-actions">
      <button class="action-button" (click)="toggleLike(post)">
        <mat-icon>{{ post.userHasLiked ? 'thumb_up' : 'thumb_up_off_alt' }}</mat-icon>
        <span *ngIf="post.likes.length > 0"> ({{ post.likes.length }})</span>
      </button>
      <button class="action-button" (click)="openCommentsDialog(post)">
        <mat-icon>comment</mat-icon>
        <span *ngIf="post.comments.length > 0"> ({{ post.comments.length }})</span>
      </button>
    </div>
  </div>
  <div *ngIf="userPosts.length > 10" class="pagination-controls">
    <button (click)="previousPage()" [disabled]="currentPage === 1">Anterior</button>
    <span>Página {{currentPage}}</span>
    <button (click)="nextPage()">Siguiente</button>
  </div>
</div>
<ng-template #noPosts >
  <div class="no-posts-container" *ngIf="showWelcomeSection">
    <div class="welcome-section">
      <img src="../../../../assets/flags/invit-Photoroom.png" alt="Invite friends" class="no-posts-image">
      <h1>¡Tu feed está vacío!</h1>
      <p>Sigue a tus amigos y familiares</p>
      <p>Descubre nuevos intereses</p>
    </div>
  </div>
</ng-template>