<div *ngIf="userPosts">
  <div *ngFor="let post of flattenAndSortPosts(userPosts)" class="post-card">
    <div class="post-header">
      <div class="post-header-avatar"></div>
      <div class="post-header-info">
        <h3>{{ post.userName }}</h3>
        <p>{{ post.description }}</p>
      </div>
    </div>
    <div class="post-content">
      <p>{{ post.text }}</p>
      <p>{{ formatDate(post.creationDate) }}</p>
    </div>
    <div class="post-actions">
      <button class="action-button">
        Like
        <span *ngIf="post.likes.length > 0"> ({{ post.likes.length }})</span>
      </button>
      <button class="action-button" (click)="openCommentsDialog(post)">
        Comment<span *ngIf="post.comments.length > 0"> ({{ post.comments.length }})</span>
      </button>
    </div>
  </div>
</div>