<div *ngIf="!allImagesLoaded && !userPosts" class="loading-animation">
  <div class="spinner"></div>
</div>

<div class="welcome-section" *ngIf="showWelcomeSection">
  <h1>Bienvenido a nuestra comunidad</h1>
  <p>¡Explora las publicaciones del resto de usuarios!</p>
</div>

<div *ngIf="userPosts">
  <div *ngFor="let post of pagedPosts; let last = last" class="post-card" [style.marginBottom.px]="last ? 100 : 20" #firstPost>
    <div class="post-header">
      <div>
        <img [src]="profileImages[post.userName]" alt="Foto de perfil" class="post-header-avatar" (click)="navigateToOtherProfile(post.userName)">
      </div>
      <div class="post-header-info">
        <h3>{{ post.userName }}</h3>
        <p>{{ post.description }}</p>
      </div>
    </div>
    <div class="post-content">
      <p>{{ post.text }}</p>
      <img *ngIf="post.image" [src]="postImages[post.id]" alt="Imagen del post" class="post-image">
      <p>{{ formatDate(post.creationDate) }}</p>
    </div>
    <div class="post-actions">
      <button class="action-button" (click)="toggleLike(post)">
        <mat-icon>{{ post.userHasLiked ? 'thumb_up' : 'thumb_up_off_alt' }}</mat-icon>
        <span *ngIf="post.likes.length > 0"> ({{ post.likes.length }})</span>
      </button>
      <button class="action-button" (click)="openCommentsDialog(post)">
        <mat-icon>comment</mat-icon>
        <span *ngIf="post.comments.length > 0"> ({{ post.comments.length }})</span>
      </button>
    </div>
  </div>
  <div *ngIf="userPosts.length > 10" class="pagination-controls">
    <button (click)="previousPage()" [disabled]="currentPage === 1">Anterior</button>
    <span>Página {{currentPage}}</span>
    <button (click)="nextPage()">Siguiente</button>
  </div>
</div>