<div *ngIf="userPosts">
  <div *ngFor="let post of flattenAndSortPosts(userPosts)" class="post-card">
    <div class="post-header">
      <div>
        <img [src]="profileImages[post.userName]" alt="Foto de perfil" class="post-header-avatar">
      </div>
      <div class="post-header-info">
        <h3>{{ post.userName }}</h3>
        <p>{{ post.description }}</p>
      </div>
    </div>
    <div class="post-content">
      <p>{{ post.text }}</p>
      <img *ngIf="post.image" [src]="postImages[post.id]" alt="Imagen del post" class="post-image">
      <p>{{ formatDate(post.creationDate) }}</p>
    </div>
    <div class="post-actions">
      <button class="action-button" (click)="toggleLike(post)">
        <mat-icon>{{ post.userHasLiked ? 'thumb_up' : 'thumb_up_off_alt' }}</mat-icon>
        <span *ngIf="post.likes.length > 0"> ({{ post.likes.length }})</span>
      </button>
      <button class="action-button" (click)="openCommentsDialog(post)">
        <mat-icon>comment</mat-icon>
        <span *ngIf="post.comments.length > 0"> ({{ post.comments.length }})</span>
      </button>
    </div>
  </div>
</div>